<ion-view view-title="ADN">
  <ion-content class="padding">
    <div center=></div>
   <h1>acido ribonucleico</h1>
<div class="DNA">
  <div class="helix"></div>
  <div class="bases gc"></div>
  <div class="bases cg"></div>
  <div class="bases at"></div>
  <div class="bases cg"></div>
  <div class="bases at"></div>
  <div class="bases at"></div>
  <div class="bases ta"></div>
  <div class="bases gc"></div>
  <div class="bases at"></div>
  <div class="bases ta"></div>
  <div class="bases cg"></div>
  <div class="bases gc"></div>
  <div class="bases ta"></div>
  <div class="bases at"></div>
  <div class="bases ta"></div>
  <div class="bases ta"></div>
  <div class="bases at"></div>
  <div class="bases ta"></div>
  <div class="bases ta"></div>
  <div class="bases gc"></div>
  <div class="bases ta"></div>
  <div class="bases gc"></div>
  <div class="bases ta"></div>
</div>
  </ion-content>
</ion-view>
